@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  letter-spacing: 0.04rem;
}

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: rgba(108, 240, 193, 0.5);
}


main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:400px;
}

h1,
h2 {
  font-family: 'Play';
}

@keyframes myPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 46px;
  font-family: 'Peralta';
  margin-bottom: 0.2rem;
  margin-top: 0;
}

h1,
h2, h3 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.numbers {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Peralta';
  animation: fadeIn 7s;
  padding-left: 5rem;
  padding-right: 5rem;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes fadeInAndBlink {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.content img {
  max-width: 100px;
  max-height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  opacity: 0;
  animation: fadeInAndBlink 2s forwards;
}

.hidden {
  visibility: hidden;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.9);
}


#doors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 1rem;

  padding: 1em 3em 0 3rem;
}

.doors-container::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 400px;
  height:19rem;
  background-image: url('game.gif');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  animation: playOnce 5s forwards, fadeInImage 1s 5s forwards;
  z-index: -1;
  opacity: 1;
  margin: 0 auto;
}

.doors-container {
  display: flex;
  justify-content: center;
  width:100%;

}

@keyframes playOnce {
  to {
    background-image: url('game.png');
    background-size: contain;

  }
}

.door-container {
  width: 3.8rem;
  position: relative;
}

@keyframes delayBackgroundImage {
  0% {
    background-image: none;
  }
  99% {
    background-image: none;
  }
  100% {
    background-image: url('door.svg');
  }
}

.door {
  position: relative;
  height: 0;
  padding-top: 210%;
  padding-bottom: 0;
  overflow: hidden;
  will-change: transform;
  background-position: top center;
  background-size: cover;
  animation: delayBackgroundImage 3s forwards;
  background-image: url('door.svg');
  cursor: pointer;
}

.door:active {
  transform: scale(0.95);
}


.door-container.revealed>.door {
  cursor: default;
  overflow: visible;
}

.door-container.picked>.content::before {
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url('picked.gif');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}


@keyframes pulse {
  25% {
    transform: scale(1.05);
  }
}

#play-again {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  place-self: center;
  margin: 0 auto 1rem;
  background-color: rgb(108, 240, 193);
  padding: 1rem;
  border-radius: 2rem;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

#instruction {
  font-family: 'Play';
  margin: 3rem 0 0 0;
  background-color: #F2DAE2;
  width: 90%;
  padding:0 1em;
  border-radius: 10px;
  color: black;
  min-height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


.choices {
  text-align: center;
}
.pulsate {
  animation: myPulse 1s ease 0s infinite normal forwards, fadeIn 5s;

}

.choices img {
  max-width: 110px;
}
#no img {
  max-width: 80px;
}
}
#stats {
  background-color: #F0CF6C;
  padding: 1rem;
  width: 90%;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
    margin-top: 1rem;
}

.stats-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}


.stats-item {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 700;
  width: 130px;
  white-space: nowrap;
  border-radius: 7px;
  background-color: #fff;
  padding: 0.5rem;
}

.stats-item p {
  margin: 0;
}

.stats-item span {
  place-self: center;
}

#stats span {
  font-size: 3rem;
}



.stat-panel {
  display: flex;
  flex-direction: column;
}

#controls {
  padding: 2rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

#controls>select {
  display: block;
  margin: 0.5rem 0;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  max-height: 250px;
  margin-bottom:2rem;
}

.circle-bg {
  fill: none;
  stroke: white;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  from {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #F06C9C !important;
}

.circular-chart.green .circle {
  stroke: #ACF06C;
}

.percentage {
  fill: black;
  font-size: 0.5rem;
  font-weight: 500;
  text-anchor: middle;
}

.strategies-container {
  margin-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.strategies-container::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  top: 50%;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3px;
}



@media only screen and (min-width: 600px) {

  main {

    max-width:900px;
  }
.numbers {
  font-size: 42px;
  padding-left: 11rem;
  padding-right: 11rem;
}


.content img {
  max-width: 150px;
  margin-top: 11rem;

}

#doors {

  width: 900px;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 3rem;
}

.doors-container::before {
  max-width: 900px;
  height: 100%;
  background-size: contain;
 
}


@keyframes playOnce {
  to {
    background-image: url('game.png');
  }
}

.door-container {
  width: 8rem;
}

.door {

  padding-top: 210%;
  
}

.strategies-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: nowrap;

}



.door-container.picked>.content::before {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  position: absolute;
}
#play-again {
  font-size: 40px;
  font-weight: 700;
  padding: 0.7rem;

}

.strategies-container::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  width: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 90%;
}

.choices img {
  max-width: 140px;
}
#no img {
  max-width: 100px;
}
}